@use "base.scss";

@include base.background(grey);

.promptText {
    font-size: 28px;
}

.trial-container {
    position: absolute;
    inset: 0;
}


.target-img,
.distractor-img {
    width: 150%;
}

.target-img {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.distractors-container {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-50%);
}

.distractor-container {
    width: 30px; // hardcoding this to be non-zero fixes an issue where the images move a tiny bit when the number shows
    height: 800px;
}

.distractor-img {
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}
.distractor-img:hover,
.reset-btn:hover:enabled,
.continue-btn:hover:enabled {
    border: solid cyan 2px;
}




.selection-number {
    color: white;
    text-align: center;
    transform: translateY(145px);
    font-size: 25px;
}


.reset-btn, .continue-btn {
    text-transform: capitalize;
    position: absolute;
    width: 200px;
    bottom: 40px;
    color: white;
    font-size: 16px;
}

.reset-btn:enabled,
.continue-btn:enabled {
    cursor: pointer;
}

.reset-btn:active:enabled,
.continue-btn:active:enabled {
    transform: scale(0.95);
    filter: brightness(95%);
}

.reset-btn {
    background-color: red;
    left: 50px;
}

.btn-text {

}


.continue-btn {
    right: 50px;
}

.continue-btn:enabled {
    background-color: blue;
    right: 50px;
}

.fixation-cross {

}