body {
  background: grey;  
}

.trial-container {
  position: absolute;
  inset: 0px;
}


.target-img, 
.distractor-img {
  width: 150%; 
}

.target-img {
  position: absolute; 
  top: 25%; 
  left: 50%; 
  translate: -50% -50%;
}

.distractors-container {
  position: absolute; 
  top: 25%; 
  left: 10%; 
  width: 80%; 
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-evenly;
}

.distractor-container {
  translate: 0% 50%;
}

.distractor-img  { 
  top: 70%; 
  left: 50%; 
  translate: -50% -50%;
}



.selection-number {
  color: white;
  text-align: center;
}


.reset-btn, .continue-btn {
	color: white;
	text-transform: capitalize;
	position: absolute;
	width: 150px;
	height: 40px;
}

.reset-btn {
  background-color: red;
  left: 50px; 
  bottom: 40px;
}


.continue-btn {
  background-color: blue;
  bottom: 40px;
  right: 50px;
}